.experience {
	margin-top: 16px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;

	@include desktop {
		font-size: 14px;
		margin-top: 14px;
	}

	@include tablet {
		font-size: 12px;
		margin-top: 12px;
	}

	@include mobile {
		font-size: 12px;
		margin-top: 12px;
	}
}
