//

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: #f4c550;
	transition: all $animation_cubic;

	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;

	width: 100%;
	padding: 14px 30px;

	&:hover {
		background-color: #ffdc86;
	}

	&:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}

	&.loading {
		background-color: #8a8a89;
	}

	@include tabletAndLarger {
		max-width: fit-content;
		padding: 16px 40px;
	}

	@include desktop {
		font-size: 16px;
	}
	@include tablet {
		font-size: 16px;
		padding: 10px 30px;
	}

	@include mobile {
		font-size: 14px;
	}
}

.spinner {
	width: 1rem;
	height: 1rem;
	border: 2px solid transparent;
	border-top: 2px solid $white;
	border-radius: 50%;
	animation: spin 0.75s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.modalBtn {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5;

	@include tabletAndLarger {
		font-size: 18px;
	}
}
.bookBtn {
	@include tablet {
		font-size: 16px;
		padding: 10px 30px;
	}

	@include mobile {
		font-size: 14px;
		padding: 10px 30px;
	}
}

.loadMore {
	margin: 64px auto;
}

.bookFormBtn {
	max-width: 100%;
}
