.statusItem {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
}
.statusItemHead {
	font-style: normal;
	font-weight: 500;
	font-size: fluid(28, 18);

	@include largeDesktopAndLarger {
		line-height: 1.14;
		letter-spacing: -0.56px;
	}
}

.statusItemText {
	font-size: 10px;
	width: 56px;
	@include largeDesktopAndLarger {
		color: $secondary-light-black-07;

		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.29;
		letter-spacing: -0.28px;
		width: 92px;
	}
}

.hideEl {
	display: none;
}
