.logo {
	@include tabletAndLarger {
		width: 28px;
		height: 28px;
	}
}

.iconMenu {
	stroke: $main-black;
}

// .iconClose {
// 	stroke: $main-black;
// }

.laptop {
	fill: linear-gradient(180deg, #eeb055 0%, #d08f38 100%);
}

.apple {
	fill: #d08f38;
}
