.logo {
	@include tabletAndLarger {
		width: 28px;
		height: 28px;
	}
}

.iconMenu {
	stroke: $main-black;
}

// .iconClose {
// 	stroke: $main-black;
// }

.laptop {
	fill: linear-gradient(180deg, #eeb055 0%, #d08f38 100%);
}

.apple {
	fill: #d08f38;
}

.arrowIcon {
	position: absolute;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	pointer-events: none; /* Щоб стрілка не заважала клікам */
}

.favorite {
	width: 18px;
	height: 18px;
	stroke: $main-black;
	transition: stroke $animation-cubic;

	&.isActive {
		stroke: red;
	}
}
