.logInBtn,
.logOutBtn {
	display: flex;
	justify-content: center;
	gap: fluid(8, 4);
	align-items: center;

	font-size: fluid(16, 14);
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;
	background-color: inherit;

	transition: all $animation-cubic;

	&:hover {
		color: $orange-hover;
	}
}

.logOutBtn {
	fill: $orange;
	& > svg {
		transition: fill $animation-cubic;
	}
	&:hover svg {
		fill: $main-black;
	}
}

.logInBtn {
	stroke: $orange;
	& > svg {
		transition: stroke $animation-cubic;
	}
	&:hover svg {
		stroke: $main-black;
	}
}

.registrationBtn {
	display: flex;
	padding: 14px 39px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 12px;
	background: $main-black;
	color: $white;

	font-size: fluid(16, 14);
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;
	border: 1px $main-black solid;

	transition: all $animation-cubic;

	&:hover {
		color: $main-black;
		background-color: $white;
		border: 1px $orange-hover solid;
	}
}
