.logInBtn,
.logOutBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	// stroke: gold;
	fill: gold;

	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;

	background-color: inherit;
}

.registrationBtn {
	display: flex;
	padding: 14px 39px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 12px;
	background: $main-black;
	color: $white;

	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;
}
