.modal {
	width: 100%;
	margin: 0 auto;
	// padding: 16px;

	@include tabletAndLarger {
		// padding: 44px;
	}
}

.modalTitle {
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.8px;
	margin-bottom: 8px;

	@include mobile {
		font-size: 24px;
	}

	@include tablet {
		font-size: 28px;
	}

	@include desktopAndLarger {
		text-align: left;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 20px;
	}
}
.modalText {
	text-align: justify;
	color: $secondary-light-black;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	width: 100%;

	@include tabletAndLarger {
		font-size: 16px;
		line-height: 22px;
	}
}
