.heroWrapper {
	padding-top: 80px;
	padding-bottom: 24px;
	display: flex;

	flex-direction: column-reverse;
	gap: 24px;

	@include desktopAndLarger {
		flex-direction: row;
	}

	@include mobile {
		padding-top: 60px;
	}
}

.heroContentWrapper {
	border-radius: 30px;
	background: #f8f8f8;
	width: 100%;
	padding: 1rem;

	@include tabletAndLarger {
		width: 720px;
		height: 530px;
		flex-shrink: 0;
		padding-top: 98px;
		padding-left: 64px;
	}

	@include desktop {
		width: 520px;
		padding-left: 34px;
	}
	@include largeDesktopAndLarger {
		width: 53%;
	}
}

.heroHeading {
	text-align: start;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 24px;

	letter-spacing: -0.96px;

	@include tabletAndLarger {
		width: 548px;
		font-size: 48px;
		line-height: 56px; /* 116.667% */
		margin-bottom: 32px;
	}

	@include desktop {
		font-size: 36px;
		width: 400px;
	}
}

.textDecoration {
	display: inline-block;
	font-style: italic;
	border-radius: 8px;
	background: #fbe9ba;
}

.heroText {
	letter-spacing: -0.32px;
	margin-bottom: 32px;
	@include tabletAndLarger {
		width: 471px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
		margin-bottom: 64px;
	}
}

.heroLink {
	display: inline-flex;
	padding: 16px 88px;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: #f4c550;
	transition: background-color $animation-cubic;

	&:hover {
		background-color: #fbe9ba;
	}
}

.heroImageWrapper {
	border-radius: 30px;
	background-color: #fbe9ba;
	// padding-top: 1rem;
	// padding-left: 1rem;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;

	@include tablet {
		// padding-top: 80px;
		// padding-left: 88px;
		// width: 568px;
		// height: 530px;
		// flex-shrink: 0;
		width: 100%;
	}

	@include desktop {
		width: 415px;
	}

	@include largeDesktopAndLarger {
		// width: 568px;
		width: 45%;
		height: 530px;
		flex-shrink: 0;
	}
}

.heroPictureFace {
	margin-bottom: -65px;
	// width: 45%;
	@include mobile {
		margin-bottom: -33px;
		width: 170px;
	}
}
