.container {
	width: 100%;
	margin: 0 auto;

	@include mobile {
		padding: 0 1rem;
	}

	@include tablet {
		padding: 0 1.5rem;
		min-width: 768px;
		max-width: 1023px;
	}

	@include desktop {
		padding: 0 2rem;
		min-width: 1024px;
		max-width: 1439px;
	}

	@include large-desktop {
		padding: 0 4rem;
		min-width: 1440px;
	}

	@include extra-large-desktop {
		padding: 0 4rem;
	}
}
