.radioList {
	display: flex;
	align-items: flex-start;
	gap: 8px;

	@include tablet {
		flex-wrap: wrap;
	}

	@include mobile {
		flex-wrap: wrap;
	}
}

.radioLabel {
	display: flex;
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 35px;
	border: 1px solid $secondary-light-black-02;

	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	cursor: pointer;
	background-color: transparent;
	transition: all $animation-cubic;

	@include desktop {
		font-size: 12px;
	}

	@include tablet {
		font-size: 12px;
	}

	@include mobile {
		font-size: 12px;
	}
}

.radioInput {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.radioInput:checked + .radioLabel {
	background-color: $orange;
	border: 1px solid $orange;
}

.radioInput:focus-visible + .radioLabel {
	outline: 1px solid $main-black;
}

.radioInput:hover + .radioLabel {
	border: 1px solid $orange;
}
