.reviewsList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}

.reviewItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.reviewerAvatar {
	border-radius: 100px;
}

.reviewContent {
	display: flex;
	align-items: flex-start;
	gap: 12px;
}

.reviewerInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2px;
}

.ratingWrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.reviewerName {
	color: $grey;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.ratingValue {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
}

.reviewComment {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}
