.badge {
	position: absolute;
	width: 12px;
	height: 12px;
	flex-shrink: 0;
	border-radius: 50%;
	border: 2px solid $white;
	top: 19px;
	left: 85px;

	@include tablet {
		width: 10px;
		height: 10px;
		top: 16px;
		left: 70px;
	}
}

.badge.active {
	background-color: #38cd3e;
}

.badge.inactive {
	background-color: #f4c550;
}
