.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $overlay;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	overflow: hidden;

	html,
	body {
		overflow: hidden;
		height: 100%;
	}

	@include mobile {
		touch-action: none;
	}
}

.modalContent {
	position: relative;
	background-color: $white;
	padding: 40px 24px;
	border-radius: 30px;
	width: 90%;
	min-width: 320px;
	animation: slideIn $animation-cubic;
	max-height: 90vh; /* Обмежує висоту */
	overflow-y: auto; /* Додає скролінг всередині */

	@include mobile {
		max-width: 100%;
	}

	@include tabletAndLarger {
		padding: 64px;
		max-width: 600px;
	}

	@include desktopAndLarger {
		max-width: 600px;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modalCloseBtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	stroke: $main-black;
	width: 24px;
	height: 24px;

	// &:hover,
	// &:focus,
	// &:active {
	// 	stroke: #f4c550;
	// }
}
