.dropdownLabel {
	color: $grey;
	font-family: inherit;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 0.5rem;

	@include mobile {
		font-size: 12px;
		margin-bottom: 0.25rem;
	}

	@include tablet {
		font-size: 12px;
		margin-bottom: 0.25rem;
	}
}

.dropdown {
	position: relative;
}
