.link {
	color: $main-black;
	line-height: rem(20);
	transition: $animation_cubic;

	&:hover {
		color: $orange-hover;
	}
}

.active {
	color: $orange;
}

.navList {
	display: none;
	margin-inline: rem(16);
	font-size: fluid(16, 14);

	@include tabletAndLarger {
		display: flex;
		align-items: flex-start;
		gap: rem(18);
	}

	@include desktopAndLarger {
		gap: rem(28);
	}
}

.navListMobile {
	display: flex;
	flex-direction: column;
	gap: rem(12);
	font-size: fluid(16, 14);
	font-weight: 700;

	.navItem {
		text-align: center;
	}
}
