// .searchForm {
// 	display: flex;
// 	gap: 20px;
// }

// .selectWrapper {
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// }

// .label {
// 	margin-bottom: 8px;
// 	font-size: 14px;
// 	color: #8a8a89;
// }

// .selectContainer {
// 	position: relative;
// }

// .select {
// 	padding: 10px 16px; /* Зменшуємо padding для правильного розташування значення */
// 	border: 1px solid #ccc;
// 	border-radius: 8px;
// 	appearance: none; /* Вимикаємо кастомні стилі браузера */
// 	font-size: 14px;
// 	position: relative;
// 	background-color: white; /* Уточнення фону */
// 	z-index: 1; /* Залишаємо select на передньому плані */
// }

// .selectWrapper.price .select {
// 	padding-right: 40px; /* Коригуємо padding для знака $ */
// }

// .dollarSign {
// 	position: absolute;
// 	right: 16px;
// 	top: 50%;
// 	transform: translateY(-50%);
// 	font-size: 14px;
// 	color: #333;
// 	pointer-events: none; /* Щоб знак не перекривав вибір */
// 	z-index: 1; /* Під `select` */
// }

// .selectWrapper .select:focus {
// 	outline: none;
// 	border-color: #0062cc;
// 	box-shadow: 0 0 5px rgba(0, 98, 204, 0.5);
// }

// .select option {
// 	padding: 8px 16px;
// }

// .selectWrapper:not(.price) option {
// 	color: #8a8a89;
// }

// .selectWrapper.price option {
// 	text-align: left;
// }

// .priceSelect {
// }

.searchForm {
}

.selectWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	color: #8a8a89;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 128.571% */
}
.select {
	position: relative;
	padding: 18px 16px;
	appearance: none;
}

.select option {
	position: absolute;
	top: 40px;
}
