.statusList {
	border-radius: 30px;
	border: 2.5px dashed $orange;
	padding: fluid(40, 16);
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	gap: fluid(100, 10);

	@include mobile {
		flex-wrap: wrap;
	}
}
