.teacherDetails {
	display: flex;
	align-items: center;
	gap: 64px;

	@include desktop {
		gap: 34px;
	}

	@include tablet {
		justify-content: space-between;
	}

	@include mobile {
		position: absolute;
		top: 100px;
		right: 24px;
	}
}

.detailsList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;

	@include desktop {
		gap: 8px;
		font-size: 14px;
	}

	@include tablet {
		font-size: 12px;
		gap: 4px;
	}

	@include mobile {
		gap: 0;
		font-size: 12px;
		flex-direction: column;
		align-items: flex-start;
	}
}

.detailsPrice {
	color: $green;
}

.favoriteButtonWrapper {
	@include mobile {
		position: absolute;
		top: -77px;
		right: 0px;
	}

	&:hover svg {
		stroke: $orange;
	}
}
