.filterForm {
	display: flex;
	padding-top: 80px;

	gap: 1.25rem;

	@include mobile {
		flex-direction: column;
		gap: 1rem;
		padding-top: 60px;
	}

	@include large-desktop {
		padding-top: 98px;
	}

	@include extra-large-desktop {
		padding-top: 98px;
	}
}
