@use './variables' as *;

html {
	scroll-behavior: smooth;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip-path: inset(50%);
}

body {
	font-family: 'Roboto', sans-serif;
	color: $main-black;
}

button {
	background-color: inherit;
	transition: all $animation-cubic;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

*:focus {
	outline: 1px solid $secondary-light-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button {
	user-select: none;
}
