// Міксин для ретина-екранів
@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;
	}
}

// Базові медіа-запити для різних пристроїв
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

// Міксин для мобільних пристроїв
@mixin mobile {
	@media (max-width: #{$breakpoint-mobile}) {
		@content;
	}
}

// Міксин для планшетів
@mixin tablet {
	@media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet}) {
		@content;
	}
}

@mixin tabletAndLarger {
	@media (min-width: #{$breakpoint-mobile + 1}) {
		@content;
	}
}

// Міксин для звичайних десктопів
@mixin desktop {
	@media (min-width: #{$breakpoint-tablet + 1}) and (max-width: #{$breakpoint-desktop}) {
		@content;
	}
}

// Міксин для великих десктопів
@mixin large-desktop {
	@media (min-width: #{$breakpoint-desktop + 1}) and (max-width: #{$breakpoint-large-desktop}) {
		@content;
	}
}

// Міксин для екранів із шириною понад 1440px
@mixin extra-large-desktop {
	@media (min-width: #{$breakpoint-large-desktop + 1}) {
		@content;
	}
}
