$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

@mixin mobile {
	@media (max-width: #{$breakpoint-mobile}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-mobile + 1}) and (max-width: #{$breakpoint-tablet - 1}) {
		@content;
	}
}

@mixin tabletAndLarger {
	@media (min-width: #{$breakpoint-mobile + 1}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1}) {
		@content;
	}
}

@mixin desktopAndLarger {
	@media (min-width: #{$breakpoint-tablet}) {
		@content;
	}
}

@mixin large-desktop {
	@media (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-large-desktop - 1}) {
		@content;
	}
}

@mixin largeDesktopAndLarger {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}

@mixin extra-large-desktop {
	@media (min-width: #{$breakpoint-large-desktop}) {
		@content;
	}
}
