$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

// Гумовий дизайн для мобільних пристроїв
@mixin mobile {
	@media (max-width: 480px) {
		@content;
	}
}

// Респонсивний дизайн для планшетів і більших пристроїв
@mixin tablet {
	@media (min-width: 481px) and (max-width: #{$breakpoint-tablet}) {
		@content;
	}
}

@mixin tabletAndLarger {
	@media (min-width: 481px) {
		@content;
	}
}

// Респонсивний дизайн для звичайних десктопів
@mixin desktop {
	@media (min-width: #{$breakpoint-tablet + 1}) and (max-width: #{$breakpoint-desktop}) {
		@content;
	}
}

@mixin desktopAndLarger {
	@media (min-width: #{$breakpoint-tablet + 1}) {
		@content;
	}
}

// Респонсивний дизайн для великих десктопів
@mixin large-desktop {
	@media (min-width: #{$breakpoint-desktop + 1}) and (max-width: #{$breakpoint-large-desktop}) {
		@content;
	}
}

@mixin largeDesktopAndLarger {
	@media (min-width: #{$breakpoint-desktop + 1}) {
		@content;
	}
}

// Респонсивний дизайн для екранів понад 1440px
@mixin extra-large-desktop {
	@media (min-width: #{$breakpoint-large-desktop + 1}) {
		@content;
	}
}
