.logoLink {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	.logoText {
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: -0.02em;

		@include desktop {
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.2;
			letter-spacing: -0.02em;
		}
	}
}

.logoAbsolute {
	position: absolute;
	top: 1rem;
	left: 1rem;
}
